<nav>
  <div class="container">
    <a href="{{ "/" | relative_url }}" class="logo">{{ site.title | upcase }}</a>
    <ul class="nav-links">
      <li><a href="{{ "/" | relative_url }}">Home</a></li>
      <li><a href="{{ "/" | relative_url }}#experience">Experience</a></li>
      <li><a href="{{ "/" | relative_url }}#projects">Projects</a></li>
      <li><a href="{{ "/" | relative_url }}#skills">Skills</a></li>
      <li><a href="{{ "/" | relative_url }}#interests">Interests</a></li>
      <li><a href="{{ "/" | relative_url }}#contact">Contact</a></li>
    </ul>
  </div>
</nav>
